<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" th:href="@{css/styles.css}">
</head>
<body>
<section class="content">
    <div class="register_form" th:fragment="profile_form (user, link)">
        <form role="form" th:action="@{${link}}" method="post" th:object="${user}" >
            <div class="input_par">
                <div class="input_comp">
                    <label for="name"><span th:text="#{name}">Nombre</span></label>
                    <input
                            class="register_input"
                            type="text"
                            id="name"
                            name="name"
                            th:field="*{name}"
                            th:attr="placeholder=#{name}"
                            required>
                </div>
                <div class="input_comp">
                    <label for="lastName"><span th:text="#{lastName}">Apellidos</span></label>
                    <input
                            class="register_input"
                            type="text"
                            id="lastName"
                            name="lastName"
                            th:field="*{lastName}"
                            th:attr="placeholder=#{lastName}"
                            required>
                </div>
            </div>
            <div class="input_par">
                <div class="input_comp">
                    <label for="phone"><span th:text="#{phone}">Teléfono</span></label>
                    <input
                            class="register_input"
                            type="text"
                            id="phone"
                            name="phone"
                            th:field="*{phoneNumber}"
                            th:attr="placeholder=#{phone}"
                            required>
                </div>
                <div class="input_comp">
                    <label for="email"><span th:text="#{email}">Correo Electrónico</span></label>
                    <input
                            class="register_input"
                            type="text"
                            id="email"
                            name="email"
                            th:field="*{email}"
                            th:attr="placeholder=#{email}"
                            required>
                </div>
            </div>
            <div class="input_par">
                <div class="input_comp">
                    <label for="id"><span th:text="#{identification}">Cédula</span></label>
                    <input
                            class="register_input"
                            type="text"
                            id="id"
                            name="id"
                            th:field="*{id}"
                            th:attr="placeholder=#{identification}"
                            th:disabled="(${link} == '/profile')"
                            required>
                </div>
                <div class="input_comp">
                    <label for="password"><span th:text="#{password}">Contraseña</span></label>
                    <input
                            class="register_input"
                            type="password"
                            id="password"
                            name="password"
                            th:field="*{pass}"
                            th:placeholder="#{password}"
                            required="">
                </div>
            </div>
            <input class="button_submit" type="submit" value="Registrarse" th:value="(${link} == '/register') ? #{register.submit} : #{profile.submit}">
        </form>
    </div>
</section>

</body>
</html>