<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<header th:fragment="headerIndex">
    <h1><span th:text="#{index.title}">Facturar UNA</span></h1>
</header>

<div th:fragment="headerHome (user)">
    <h1><span th:text="#{home.title(${user.name})}"></span></h1>
</div>

<div th:fragment="headerProfile">
    <h1><span th:text="#{profile.title}"></span></h1>
</div>

<div th:fragment="headerRegister">
    <h1><span th:text="#{register.title}"></span></h1>
</div>

<div th:fragment="headerRequests">
    <h1><span th:text="#{requests.title}"></span></h1>
</div>

<div th:fragment="headerConfirmation">
    <h1><span th:text="#{confirmation.title}">Confirmaci&oacute;n de Registro</span></h1>
</div>

<div th:fragment="headerInvoices">
    <h1><span th:text="#{invoices.title}"></span></h1>
</div>
</html>