<div class="tabs-container" th:fragment="menuSideBar">
    <div class="tabs">
        <a href="#home" class="tab active">
            <img src="../static/images/casa.svg" alt="">
            <span>Home</span>
        </a>
        <a href="#perfil" class="tab">
            <img src="../static/images/perfil.svg">
            <span>Perfil</span>
        </a>
        <a href="#accesos" class="tab">
            <img src="../static/images/accesos.svg">
            <span>Accesos</span>
        </a>
    </div>
</div>