/* ------------------------------------ FRAGMENTS ------------------------------------------- */

.tab {
    width: 100px;
    display: block;
    align-items: center;
    padding: 10px 20px;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none;
    color: inherit;
}

.tab.active {
    background-color: #ddd;
}

.tab:hover {
    background-color: #ddd;
}

.tab img {
    display: block;
    width: 24px;
    height: 24px;
    margin-left: auto;
    margin-right: auto;

}

.tab label {
    display: block;
    align-content: center;
    text-align: center;
}

.tab img:focus {
    color: darkgreen;
}

.tab span {
    white-space: nowrap;
}

/* --------------------------------------------------------------------------------------------- */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

section {
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 32px;
    font-weight: bold;
}

h2 {
    font-size: 24px;
}

label {
    display: block;
    margin-bottom: 8px;
}

.signin_input{
    width: 100%;
    padding: 10px;
    margin-bottom: 1em;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #333;
    font-size: large;
    color: #fff;
    cursor: pointer;
    width: 100%;
    padding: 10px;
    margin-bottom: 1em;
    box-sizing: border-box;
}

.registerLink {
    display: block;
    align-content: center;
    text-align: center;
}

table {
    width: 100%;
    margin: 20px 0;
    border-collapse: collapse;
    table-layout: fixed; /* Establecer un ancho fijo para las celdas */
}

th, td {
    padding: 10px 20px;
    border: 1px solid #000;
    word-wrap: break-word; /* Permitir el ajuste de texto en las celdas */
}

th {
    background-color: #ccc;
}

.register_form {
    width: 100%;
    text-align: center;
}

.register_form form div {
    margin: 0.1em;
    width: 49%;
    display: inline-block;
}

.register_form form div input, #tipo_cedula {
    width: 100%;
    padding: 10px;
    margin-bottom: 1em;
    box-sizing: border-box;
}

.register_form label {
    text-align: left;
}

.register_submit{
    padding: 1em;
    width: 75%;

}