<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Accesos</title>
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" th:href="@{css/styles.css}">
</head>
<body>
    <header th:insert="~{fragments/header :: headerRequests}"></header>
    <div th:replace="~{fragments/menu :: menuSideBar (${user})}"></div>
    <section class="content">
        <div class="container">
            <h2><span th:text="#{home.access}">Solicitudes de Acceso</span></h2>
            <table class="table" th:if="${not #lists.isEmpty(persons)}">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellidos</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="person : ${persons}">
                    <td th:text="${person.id}"></td>
                    <td th:text="${person.name}">sdsdsd</td>
                    <td th:text="${person.lastName}">sdsdsd</td>
                    <td>
                        <a th:href="@{'/giveAccess/' + ${person.id}}"><img class="access_img" th:src="@{images/accesos.svg}" src="../static/images/accesos.svg" alt="Accept"></a>
                    </td>
                </tr>
                </tbody>
            </table>
            <h3 th:if="${#lists.isEmpty(persons)}">No hay solicitudes de acceso</h3>
        </div>
    </section>
</body>
</html>