<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Confirmacion</title>
    <link rel="stylesheet" href="/static/css/styles.css" th:href="@{../css/styles.css}"/>
</head>
<body>
    <header th:insert="~{fragments/header :: headerConfirmation}"></header>
    <section class="content">
        <p th:text="((${isAccepted} == true) ? #{request.positive} : #{request.negative})"></p>
        <div class="go_home">
            <a th:href="@{${next}}" href="/">
                <span th:text="#{return}">Ir a la página de inicio</span>
            </a>
        </div>

    </section>
</body>
</html>