<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" type="text/css" href="../static/css/Homepage.css">
</head>
<body>
<div class="tabs-container">
    <div class="tabs">
        <a href="#home" class="tab active">
            <svg width="24" height="24" style="opacity:1">
                <path fill="transparent" d="M0 0h24v24H0z" />
                <svg xmlns="http://www.w3.org/2000/svg" stroke-width="0" preserveAspectRatio="none" viewBox="0 0 24 24">
                    <path d="M13 18h-2v-2h2v2zm2-4H9v6h6v-6zm4-4.7V4h-3v2.6L12 3 2 12h3l7-6.31L19 12h3l-3-2.7z"/>
                </svg>
            </svg>
            <span>Home</span>
        </a>
        <a href="#perfil" class="tab">
            <img src="perfil.png">
            <span>Perfil</span>
        </a>
        <a href="#accesos" class="tab">
            <img src="check.png">
            <span>Accesos</span>
        </a>
    </div>
</div>
<div id="home" class="content">
    <div class="container">
        <h1>Bienvenido Usuario</h1>
        <h2 style="text-align: left;">Usuarios Registrados</h2>
        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Apellidos</th>
            </tr>
            </thead>
            <tbody>
            <!-- Filas dinámicas de usuarios -->
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <!-- Agregar más filas vacías -->
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div id="perfil" class="content" style="display: none;"></div>
<div id="accesos" class="content" style="display: none;"></div>
</body>
</html>