<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" th:href="@{css/styles.css}">
</head>
<body>
<header th:insert="~{fragments/header :: headerHome (${user})}"></header>
<div th:replace="~{fragments/menu :: menuSideBar (${user})}"></div>
<section class="content">
    <div id="home">
        <div class="container">
            <h2><span th:text="#{home.registeredUsers}"></span></h2>
            <table class="table" th:if="${not #lists.isEmpty(auth)}">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellidos</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="person : ${auth}">
                    <td th:text="${person.id}"></td>
                    <td th:text="${person.name}"></td>
                    <td th:text="${person.lastName}"></td>
                </tr>
                </tbody>
            </table>
            <h3 th:if="${#lists.isEmpty(auth)}">No hay usuarios registrados</h3>
        </div>
    </div>
</section>
</body>
</html>