<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" type="text/css" href="css/Homepage.css">
</head>
<body>
<div class="tabs-container">
    <div class="tabs">
        <a href="#home" class="tab active">
            <img src="images/casa.svg" alt="">
            <span>Home</span>
        </a>
        <a href="Perfil.html" class="tab" target="_blank">
            <img src="images/perfil.svg">
            <span>Perfil</span>
        </a>
        <a href="Accesos.html" class="tab" target="_blank">
            <img src="images/accesos.svg">
            <span>Accesos</span>
        </a>
    </div>
</div>
<div id="home" class="content">
    <div class="container">
        <h1 th:text="Bienvenido ${person.name}"></h1>
        <h2 style="text-align: left;">Usuarios Registrados</h2>
        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Apellidos</th>
            </tr>
            </thead>
            <tbody>
            <!-- Filas dinámicas de usuarios -->
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <!-- Agregar más filas vacías -->
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div id="perfil" class="content" style="display: none;"></div>
<div id="accesos" class="content" style="display: none;"></div>
</body>
</html>