<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/static/css/styles.css" th:href="@{css/styles.css}"/>
</head>
<body>
<header th:insert="~{fragments/header :: headerIndex}"></header>
<section>
    <form role="form" th:action="@{/signin}" method="get" th:object="${user}">
        <label for="email"><span th:text="#{email}">Correo Electrónico</span></label>
        <input
                class="signin_input"
                type="text"
                id="email"
                name="email"
                th:field="*{email}"
                th:attr="placeholder=#{email}"
                required><br><br>
        <label for="password"><span th:text="#{password}">Contraseña</span></label>
        <input
                class="signin_input"
                type="password"
                id="password"
                name="password"
                th:field="*{pass}"
                th:attr="placeholder=#{password}"
                required><br><br>
        <a class="registerLink" href="/register"><span th:text="#{index.register}">Registrarse</span></a><br><br>
        <input type="submit" value="Log In" th:value="#{index.submit}">
    </form>
</section>
</body>
</html>