<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="css/Login.css"/>
</head>
<body>
<header>
    <h1 th:text="#{index.title}">Facturar UNA</h1>
</header>

<section>
    <form role="form" th:action="@{/signin}" method="get" th:object="${user}">
        <label for="email">Email:</label>
        <input
                type="text"
                id="email"
                name="email"
                th:field="*{email}"
                placeholder="Email"
                required><br><br>
        <label for="password">Password:</label>
        <input
                type="password"
                id="password"
                name="password"
                th:field="*{password}"
                placeholder="Password"
                required><br><br>
        <a class="registerLink" href="/register">Registrarse</a><br><br>
        <input type="submit" value="Log In">
    </form>
</section>
</body>
</html>