<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Facturas del Usuario</title>
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" th:href="@{css/styles.css}">
</head>
<body>
<header th:insert="~{fragments/header :: headerInvoices}"></header>
<div th:replace="~{fragments/menu :: menuSideBar (${user})}"></div>

<section class="content"  th:if="${#bools.isFalse(hasClient)}">
    <h1 th:text="#{invoices.client}">Declarar Facturas</h1>
    <form role="form" th:action="@{/invoices/client/}" th:object="${clientSelected}" method="post">
        <div >
            <div class="input_comp">
                <label for="cliente"><span th:text="#{invoices.client}">Cliente</span></label>
                <select id="cliente" th:field="*{id}">
                    <option th:each="c : ${clients}" th:value="${c.id()}" th:text="${#strings.concat(c.name, ' ', c.lastName)}"></option>
                </select>
            </div>
        </div>
        <input type="submit" th:value="#{invoices.clientSubmit}" value="Agregar Cliente" class="button_submit">
    </form>
</section>

<section class="content" th:if="${#bools.isTrue(hasClient) and #bools.isFalse(hasProducts)}">
    <div id="products_to_add">
        <h1 th:text="#{invoices.productsTitle}">Agregar Productos</h1>
        <form action="#" th:object="${adition}" method="get" th:action="@{/invoices/product/}">
            <fieldset>
                <table class="table" th:if="${not #lists.isEmpty(products)}">
                    <thead>
                    <tr>
                        <th class="th_des" scope="col">Producto</th>
                        <th class="th_cant" scope="col">Cantidad</th>
                        <th class="th_add" scope="col">Agregar</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <div class="input_comp">
                                <select th:field="*{productoId}">
                                    <option th:each="prod : ${products}" th:value="${prod.id}" th:valuetype="cr.ac.una.facturar.data.dto.ProductoDto"
                                            th:text="${#strings.concat('Costo: ', prod.costo, ' - Descripción: ', prod.descripcion)}"></option>
                                </select>
                            </div>
                        </td>
                        <td>
                            <input class="cantidad_input" type="text"
                                   th:field="*{cantidad}">
                        </td>
                        <td>
                            <input type="submit" th:value="Agregar" value="Ok" class="button_submit">
                        </td>
                    </tr>
                    </tbody>
                </table>
            </fieldset>
        </form>
        <h3 th:if="${#lists.isEmpty(products)}">No hay productos registrados</h3>
    </div>

    <div class="products_added">
        <h1 th:text="#{invoices.productsTitle2}">Productos Agregados</h1>
        <table class="table" th:if="${not #lists.isEmpty(productsSelected)}">
            <thead>
            <tr>
                <th scope="col">Cantidad</th>
                <th scope="col">Descripción</th>
                <th scope="col">Costo</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="prod : ${productsSelected}">
                <td th:text="${prod.cantidad}"></td>
                <td th:text="${prod.productoDto.descripcion}"></td>
                <td th:text="${prod.costo}"></td>
            </tr>
            </tbody>
        </table>
        <h3 th:if="${#lists.isEmpty(productsSelected)}">No hay productos registrados</h3>
    </div>
    <form role="form" action="#" th:action="@{/invoices/product/}" method="post">
        <input type="submit" value="Aceptar" th:value="#{invoices.productsSubmit}" class="button_submit"/>
    </form>
</section>

<section id="invoice_generated" class="content" th:if="${#bools.isTrue(hasClient) and #bools.isTrue(hasProducts)}">
    <h1>Declarar</h1>
    <form action="#" th:action="@{/invoices/declare/}" method="post" th:object="${invoice}">
        <div class="input_comp">
            <label for="start">Start date:</label>
            <input type="datetime-local" id="start" th:field="*{date}"/>
        </div>
        <div>
            <div class="products_added">
                <h2 th:text="#{invoices.productsTitle2}">Productos Agregados</h2>
                <table class="table" th:if="${not #lists.isEmpty(productsSelected)}">
                    <thead>
                    <tr>
                        <th scope="col">Cantidad</th>
                        <th scope="col">Descripción</th>
                        <th scope="col">Costo</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="prod : ${productsSelected}">
                        <td th:text="${prod.cantidad}"></td>
                        <td th:text="${prod.productoDto.descripcion}"></td>
                        <td th:text="${prod.costo}"></td>
                    </tr>
                    </tbody>
                </table>
                <h3 th:if="${#lists.isEmpty(productsSelected)}">No hay productos registrados</h3>
            </div>
        </div>

        <div class="input_comp total">
            <label for="total">Total</label>
            <input type="text" id="total" name="total" th:field="${invoice.costoTotal}" style="border: solid black 1px" disabled><br>
        </div>
        <input type="submit" th:value="#{invoices.submit}" value="Declarar" class="button_submit">
    </form>
</section>
</body>
</html>