<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link th:href="@{../css/Login.css}" rel="stylesheet" />
</head>
<body>
<header>
    <h1>Facturar UNA</h1>
</header>
    <section>
        <form action="index.html" method="post">
            <label for="user">Username:</label>
            <input type="text" id="user" name="user" required><br><br>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required><br><br>
            <a href="register.html">Registrarse</a><br><br>
            <input type="submit" value="Log In">
        </form>
    </section>
</body>
</html>