<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Perfil de Usuario</title>
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" th:href="@{css/styles.css}">
</head>
<body>
<header th:insert="~{fragments/header :: headerProfile}"></header>
<div th:replace="~{fragments/menu :: menuSideBar (${user})}"></div>
<section class="content">
    <h1 th:text="#{profile.info}"></h1>
    <div th:replace="~{fragments/forms :: profile_form ((${user}), ('/profile'))}"></div>
</section>
</body>
</html>