<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Productos</title>
    <link rel="stylesheet" href="/static/css/styles.css" th:href="@{css/styles.css}"/>
</head>
<body>
<header th:replace="~{fragments/header :: headerIndex}">
    <div>
        <h1><span th:text="#{index.title}">Registrar productos</span></h1>
    </div>
</header>
<section class="content">
    <div class="wrap">
        <form role="form" th:action="@{/products/find}" method="post" th:object="${product}">
            <label for="busc">Buscar producto por id:</label><br>
            <input
                    type="text"
                    id="busc"
                    name="busc"
                    th:field="*{id}"
                    required>
            <input id="buscar" class="button_submit" type="submit" value="Buscar" th:value="#{product.submit}">
        </form>
        <form role="form" th:action="@{/products}" method="post" th:object="${product}">
            <div class="input_comp">
                <br><label for="id"><span th:text="'ID'">Id</span></label>
                <input
                        type="text"
                        id="id"
                        name="id"
                        th:field="*{id}"
                        th:value="${not #strings.isEmpty(id)} ? ${id}"
                        required>
            </div>
            <div class="input_comp">
                <label for="cost"><span th:text="#{product.costo}">Costo</span></label>
                <input
                        type="text"
                        id="cost"
                        name="cost"
                        th:field="*{costo}"
                        required>
            </div>
            <div class="input_comp">
                <label for="desc"><span th:text="#{product.descrption}">Descripcion</span></label>
                <input
                        type="text"
                        id="desc"
                        name="desc"
                        th:field="*{descripcion}"
                        required>
            </div>
           <br><br>
            <input class="button_submit" type="submit" value="Registrar" th:value="#{product.submit}">
        </form>
    </div>
</section>
</body>
</html>