<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Productos</title>
    <link rel="stylesheet" href="/static/css/styles.css" th:href="@{css/styles.css}"/>
</head>
<body>
<header>
    <div>
        <h1><span th:text="#{products.title}">Registrar productos</span></h1>
    </div>
</header>
<div th:replace="~{fragments/menu :: menuSideBar (${user})}"></div>
<section class="content">
    <div class="wrap">
        <form role="form" th:action="@{/products/find}" method="post" th:object="${product}">
            <label for="busc">Buscar producto por id:</label><br>
            <input
                    type="text"
                    id="busc"
                    name="busc"
                    th:field="*{id}"
                    required>
            <input id="buscar" class="button_submit" type="submit" value="Buscar" th:value="#{products.submit}">
        </form>
        <form role="form" th:action="@{/products}" method="POST" th:object="${product}">
            <div class="input_comp">
                <br><label for="des"><span th:text="#{product.description}">Descripcion</span></label>
                <input
                        type="text"
                        id="des"
                        name="des"
                        th:field="*{descripcion}"
                        required>
            </div>
            <div class="input_comp">
                <label for="cost"><span th:text="#{product.costo}">Costo</span></label>
                <input
                        type="text"
                        id="cost"
                        name="cost"
                        th:field="*{costo}"
                        required>
            </div>
           <br><br>
            <input class="button_submit" type="submit" value="Registrar" th:value="#{productos.submit}">
        </form>
    </div>
</section>
</body>
</html>