<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registro</title>
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" th:href="@{css/styles.css}">
</head>
<body>
<header th:insert="~{fragments/header :: headerRegister}">Registrarse como Proveedor</header>
<section>
    <form role="form" th:action="@{/register}" method="post" th:object="${user}">
        <div id="data_combo">
            <label for="cedula">Tipo de cedula:</label>
            <select id="cedula"
                    name="cedula"
                    th:field="*{tipoId}"
                    th:attr="placeholder=#{register.tipoId}"
                    required>
                <option>Física</option>
                <option>Jurídica</option>
            </select>
        </div>
        <div class="data_input">
            <label for="nombre">Nombre:</label><br>
            <input type="text"
                   id="nombre"
                   name="nombre"
                   required><br>
        </div>
        <div class="data_input">
            <label id="2" for="ape">Apellidos:</label>
            <input type="text" id="ape" name="ape" required>
        </div>
        <div class="data_input">
            <label for="tel">Telefono:</label><br>
            <input type="text" id="tel" name="tel" required><br>
        </div>
        <div class="data_input">
            <label id="3" for="correo">Correo electronico:</label>
            <input type="text" id="correo" name="correo" required>
        </div>
        <div class="data_input">
            <label for="password">Password:</label><br>
            <input type="password" id="password" name="password" required><br><br>
        </div>
        <input type="submit" value="Registrarse">
    </form>
</section>
</body>
</html>